.workspace {
    display: flex;
    // grid-template-columns: 200px 1fr ;
    width: 100%;
    min-height: 100vh;
    .ant-layout-sider-trigger{
        background-color: #ddd;
    }

    .main {
        padding: 10px 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        .main__top {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .ant-menu{
        user-select: none;
    }
}